
<div class="container post-container" >
    
    <div class="card post-card">
        <a class="href" href="/post/{{id}}">
        <div class="card-body" >
            <div class="card-title">
                <p class="post-title">{{title}}</p>
            </div>
            <div class="card-text">
                {{post}}
            </div>
            <br>
            <div class="info card-subtitle text-muted">
                Post by {{user.username}} on {{format_date created_at}}
            </div>
        </div>
        </a>
    </div>
    
</div>
