<div class="new-post">
    <h3> New Post </h3>
    <form class="form-new-post">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Title</label>
            <input class="form-control" type="text" placeholder="Your Title Here">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Your Post Here</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="create-btn btn btn-primary"> Create Post </button>
    </form>
</div>


{{#if posts.length}}
<div class="your-posts">
    <ol>
        <div class="card" style="width: 50rem;">
            {{#each posts as |post|}}
            <ul>
                <div class="post-body card-body">
                    <div class="card-title">
                        <a href="/post/{{id}}">{{title}}</a>
                    </div>
                    <div class="info card-subtitle text-muted">
                        By {{user.username}} Posted on {{format_date created_at}}
                    </div>
                </div>
                <button type="submit" href="/dashboard/edit/{{post.id}}" class="edit btn btn-primary">Edit</button>
            </ul>
        </div>
    </ol>
</div>
{{/if}}

<div class="new-post">
    <button type="submit" href="/dashboard/posting" class="create btn btn-primary"> + New Post </button>
</div>

<script src="/js/add-post.js"></script>